@import "../../App.scss";

.sideNavbar {
  background-color: $black;
  width: 125px;
  height: 100vh;
  padding: 10px 0;

  &__btn {
    width: 52px;
    height: 52px;
    background-color: #383838;
    border-radius: 50%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }

  &__btn-active {
    background-color: #383838;
    color: $button-color;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
}
