@import "../../App.scss";

.sideNavbar {
  background-color: $black;
  width: 90px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0;

  &__btn {
    width: 52px;
  }
}
