@import "../../App.scss";

.singleMessage-agent{
  min-width: 50px;
  min-height: 30px;
  background-color: $agent-message;
  color: $black;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}