@import "../../App.scss";

.chatBox {
  width: 800px;
  min-width: 450px;
  background-color: $grey-bg;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .chatBox__button {
    background-color: $button-color;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    font-size: 14px;
  }

  &__loader {
    width: 800px;
    background-color: $grey-bg;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
