@import "../../App.scss";

.chatBox {
  width: 100%;
  min-width: 500px;
  background-color: $grey-bg;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__loader {
    width: 100%;
    background-color: $grey-bg;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
