@import "../../App.scss";

.chatNavbar__typing {
  color: $secondary-text;
}

.chatNavbar__loading_typing {
  height: 5px;
  position: relative;
  top: -3px;
}

.chatNavbar__re-assign-btn {
  white-space: nowrap;
}
