@import "../../App.scss";

.ticketList {
  max-width: 345px;
  min-width: 195px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $white;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
  background-color: transparent;
}

  &::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &__ticket {
    width: 100%;
    cursor: pointer;
  }

  &__ticket:hover {
    background-color: $grey-bg;
  }
}
