//COLORS//
$white: #ffff;
$black: #000000;
$grey-bg:#f0eeee;
$button-color:#9c27b0;
$customer-message: #D0D0D0;
$agent-message:#c6b6f3;
$secondary-text:#918f8f;
$ticket-status-assigned: #CE7A2C;
$ticket-status-unassigned: #CE2C2C;
$new-ticket-notification: #fad4d4;
$new-ticket-notification-hover:#fab5b5;
$confirmation:#389743;
$cancel:#db5a5a;

.home{
  display: flex;
  overflow: hidden;
}